html
{
    scroll-behavior: smooth;
}
li,ul,ol
{
    color: black;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Playfair Display */
.dropdown-menu a:hover
{
    background: grey;
}
.crs
{
    /* border: 1.3px solid white; */
    border-radius: 10px;
}
.lft
{
    text-align: left;
}
#bst
{
    position: relative;
    top: 11%;
    text-align: center;
}
.main .btn:hover
{
    color: blue!important;
    background: white;
}
.main .btn
{
    background: blue;
    color: white!important;
    font-weight: 300!important;
    margin: 0!important;
    padding: 8px;
    border-radius: 15px;
}
#cds
{
    border: 0px solid black;
}
#snip
{
    font-weight: 350;
    white-space: nowrap;
}
#snip a
{
    color: blue;
    text-decoration: none;
}
#snip a:hover
{
    color: white!important;
}
.snippets
{
    position: absolute;
    top: 29%;
    left: 18%;
    color: blue;
    background-color: white;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    border: 0px solid;
    transition: .15s;
    animation: mywork 1.2s infinite;
}
@keyframes mywork
{
    0%,100%{
      left:17%;
    }
    50%{
      left: 18%;
    }
}
.snippets:hover,.snip2:hover,.snip3:hover
{
    background: skyblue;
    color: white!important;
    /* box-shadow: inset 0px 0px 21px -9px rgba(41,41,41,1); */
}
.snip2
{
    position: absolute;
    color: blue;
    background-color: white;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    border: 0px solid;
    top: 75%;
    left: 9%;
    transition: .15s;
    animation: mywork2 1.2s infinite;
}
@keyframes mywork2
{
    0%,100%{
      left:9%;
    }
    50%{
      left: 10%;
    }
}
.snip3
{
    position: absolute;
    color: blue;
    background-color: white;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    border: 0px solid;
    top: 32%;
    right: 10%;
    transition: .15s;
    animation: mywork3 1.2s linear infinite;
}
@keyframes mywork3
{
    0%,100%{
      right: 9%;
    }
    50%{
      right: 10%;
    }
}
.main .display-4,.main .psd
{
    font-weight: 400;
    color: #8DBF42;
}
#login-form,#login-form2
{
    background: #bdc3c7;
    overflow-y: auto;
    overflow-x: hidden;
}
@media(min-width:1000px)
{
  #login-form {
      width: 350px;
      left: -130%;
      position: absolute;
  }
  #login-form2 {
      width: 450px;
      left: -180%;
      position: absolute;
  }
}
@media(min-width:768px)
{
    .main
    {
        background-image: url('index_files/img/online1_enhanced.png');
        width: 100%;
        height: 100%;
        background-size:cover;
        background-position: center;
    }
}
.material-icons
{
    position: absolute;
    left: 80%;
}
#sdd .card
{
    display: flex;
}
#sdd {
  /* width: 50%!important; */
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
/* html
{
    scroll-behavior: smooth!important;
} */
#cntr
{
    margin: auto;
}
#sdd .card
{
    display: inline-block;
}
#sdd .card a
{
    color: blue!important;
}
.topperimg .img-carousel
{
    width: 300px;
    position: relative;
    left: 65px!important;
    top: 100px;
    background-blend-mode: multiply;
}
.faculty .row .card:hover
{   background:#dae2f8;
    border-color: white!important;
}
.faculty .row .card
{   box-shadow: 0 0px 16px 0 rgba(0,0,0,0.7);
    transition: .3s;
    border-color: green;
}
.faculty label
{
    display: block;
}
@media(max-width:767px)
{
  #login-form2
  {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
  }
  .snippets p,.snip2 p,.snip3 p,.snippets,.snip2,.snip3
  {
      margin: 0;
      padding: 4px;
  }
  .snippets a,.snip2 a,.snip3 a
  {
      margin: 0;
      padding: 0;
  }
    .topperimg .img-carousel
    {
        width: 250px!important;
        position: relative!important;
        left: 9%!important;
        top: 100px!important;
        background-blend-mode: multiply!important;
    }
    #sdd .card label
    {
        margin-bottom: 30px;
    }
    #sdd .card {
      width: 60%!important;
    }
    #sdd .card img
    {
        height: 25%!important;
    }
    #mapBox
    {
        width: 100%;
    }
    .main
    {
        background-image: url('index_files/img/online1_enhanced_mob.png');
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .snippets
    {
        top: 36%;
    }
    @keyframes mywork
    {
        0%,100%{
          left:0%;
        }
        50%{
          left: 2%;
        }
    }
    .snip2
    {
        top: 70%;
    }
    @keyframes mywork2
    {
        0%,100%{
          left: 0%;
        }
        50%{
        left: 2%;
        }
    }
    .snip3
    {
        top: 36%;
    }
    @keyframes mywork3
    {
        0%,100%{
          right: 0%;
        }
        50%{
          right: 2%;
        }
    }
    h1,h2,h3,h4
    {
        color: #626262!important;
        font-size: 56px!important;
        font-weight: 350;
    }
    p,b
    {
        font-size: 15px!important;
    }
    td,th
    {
        font-size: 20px!important;
    }
    .lgsn
    {
        margin-bottom: 10px;
    }
    .nvb a
    {
        padding-left: 10px!important;
        padding-right: 10px!important;
        padding-top: 6px!important;
        padding-bottom: 6px!important;
        margin-right: 10px;
    }
}
.crs:hover,.crs:active
{
    background: grey;
    color: white!important;
    transition: .2s;
}
.main img
{
    width: 100%;
}
.empty
{
  height: 10%;
  width: 100%;
}
.course
{
  margin-top: 4%;
  background-color: white;
}
.social-icon a{
  font-size:4.5em;
  padding:3.5rem;
}
.social-icon a:hover{
  color:#d5d5d5;
}
.fa-facebook{
  color: blue;
  }
.fa-instragram{
  color:#517fa4;
}
.fa-google-plus-g{
  color:#dd4b39;
}
footer{
  background-color:#3f3f3f;
  color:#d5d5d5;
}
hr.light{
width:70%;
border-top: 1px solid #d5d5d5;
}
hr.dark{
width:10%;
border-top: 3px solid grey;
}
#sdd .card-body
{
    padding: 10px;
}
#sdd .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 15px!important;
  margin: 10px;
}
#sdd .card:hover {
  box-shadow: 0 0px 16px 0 rgba(0,0,0,0.7);
}
#sdd .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#sdd .card img {
  width: 100%!important;
  height: 17vw;
  border-radius: 15px 15px 0 0!important;
}
.form-control
{
  width: 85%;
  margin-right: 10px;
}
.navbar
{
    background: #FFFFFF;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}
#frmbg{
  background:rgba(0,0,0,.6);
  border-radius: 25px;
  text-align: -webkit-center;
}
#thgts
{
    background:rgba(0,0,0,.6);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.feedback-form
{
    background:rgba(0,0,0,.6);
    background-image:url(index_files/img/banner/banner.jpg);
    background-position: center;
    background-size: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.toppertext.float-right.bg-white {
    width: 90%;
    margin: auto;
}
.ctus
{
  background:rgb(0,0,0,0.6);
}
.location{
    margin-top: 10%;
   background-image: linear-gradient(to top left,#FFFFFF 50%,#38ef7d 50%);
   margin-bottom: 5%;
}
.location h2
{
    color: white!important;
}
.place p
{
    font-size: 26px;
    font-weight: 350;
}
.achieve{
  font-family: cursive;
  color:#215f00;
}
#quotation img{
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.fdb {
    white-space: nowrap;
    position: fixed;
    background: white;
    bottom: 0;
    right: 6%;
    background: white;
    width: max-content;
    border: 2px solid green;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    padding: 0;
    z-index: 1;
    /* translate: .2s fade; */
}
.fdb .btn
{
    padding: 5px;
}
.fdb .btn .lead
{
    color: green!important;
    padding: 0!important;
    margin: 0;
}
.feedback-form .lead button
{
    border: 0px solid black;
    background: none;
    padding-right: 10px;
}
.feedback-form .lead button i
{
    color: white;
}
.fdb .btn .fas
{
    color: black;
}
.fdb .btn .fas:hover,.feedback-form .lead button i:hover
{
    color: blue;
}
.fdb-form {
  display: none;
  position: fixed;
  right: 10;
  bottom: -17;
  box-shadow: 0px 0px 12px 9px rgba(77,77,77,1);
  z-index: 1;
  border-radius: 25px;
  /* overflow: auto; */
}
.aboutus
{
    background: #D3CCE3;
}
.txtimg
{
    position: relative;
}
.imgbnr
{
    margin-top: 1%;
    margin-bottom: 6%;
}
.imgbnr img
{
    width: 100%;
    height: 80%;
}
